# Node.js dependencies
node_modules/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE/Editor specific files
.vscode/
.idea/
.vs

# Build files
dist/
build/

# Temporary files
*.swp
*.bak

# Environment variables
.env
