:root {
    --bekenbeysolicitors-text: #94a3b8;
    --bekenbeysolicitors-gray: #e5e7eb;
    --bekenbeysolicitors-white: #ffffff;
    --bekenbeysolicitors-text-rgb: toRGB(#94a3b8);
    --bekenbeysolicitors-black: #0f172a;
    --bekenbeysolicitors-black-rgb: toRGB(#0f172a);
    --bekenbeysolicitors-black2: #1e293b;
    --bekenbeysolicitors-black2-rgb: toRGB(#1e293b);
    --bekenbeysolicitors-black3: #334155;
    --bekenbeysolicitors-black3-rgb: toRGB(#334155);
}

.contact-one__wrapper,
.sticky-header--cloned,
body,
body.boxed-wrapper .page-wrapper {
    background-color: var(--bekenbeysolicitors-black);
}

.client-carousel .client-carousel__one .client-carousel__one__item:hover,
.topbar-one {
    background-color: var(--bekenbeysolicitors-black);
}

.about-one__inner {
    background-color: var(--bekenbeysolicitors-black);
    border: 1px solid var(--bekenbeysolicitors-black3);
    box-shadow: 0px 4px 80px 0px rgba(0, 0, 0, 0.6);
}

.service-one__item {
    background-color: var(--bekenbeysolicitors-black);
    color: var(--bekenbeysolicitors-white);
}

.about-one__content__list li:hover span,
.service-one__item__title {
    color: var(--bekenbeysolicitors-white);
}

.work-process-one__item__icon__inner,
.work-process-one__item,
.blog-card,
.portfolio-one,
.team-one,
.testimonials-card,
.contact-one__form .form-one__group,
.contact-one__info {
    background-color: var(--bekenbeysolicitors-black);
}

.form-one .bootstrap-select > .dropdown-toggle,
.form-one input[type=text],
.form-one input[type=email],
.form-one textarea {
    background-color: transparent;
}

.testimonials-card__rating,
.blog-card__user__name,
.contact-one__info__text a,
.contact-one__info__text {
    color: var(--bekenbeysolicitors-white);
}

.service-one__item__top,
.barnds-one__inner,
.barnds-one__text,
.why-choose-one__booking,
.why-choose-one__experiance,
.testimonials-card__top,
.contact-one__info__item:last-child {
    border-color: var(--bekenbeysolicitors-black3);
}

.contact-one__overlay {
    background: linear-gradient(90deg, #1e293b 33.55%, rgba(30, 41, 59, 0) 100%);
}

.why-choose-one,
.contact-one {
    background-color: var(--bekenbeysolicitors-black2);
}

.why-choose-one__bg::after {
    background: linear-gradient(-90deg, #1e293b 33.55%, rgba(30, 41, 59, 0.1) 100%);
}

.why-choose-one__experiance__text,
.why-choose-one__booking__text {
    color: var(--bekenbeysolicitors-gray);
}

.portfolio-one {
    padding-bottom: 0;
}

.work-process-one__item {
    border-color: var(--bekenbeysolicitors-black3);
}

.blog-card {
    border: none;
}

.blog-card__content {
    border: 1px solid var(--bekenbeysolicitors-black3);
    border-bottom: none;
    transition: all 500ms ease;
}

.blog-card:hover {
    border-color: var(--bekenbeysolicitors-white);
}

    .blog-card:hover .blog-card__content {
        background-color: var(--bekenbeysolicitors-black3);
    }

.blog-card__meta {
    background-color: #1a2332;
}

    .blog-card__meta li:last-child {
        border-color: var(--bekenbeysolicitors-black3);
    }

.main-header__info,
.work-process-one__item__icon::after {
    border-color: rgba(var(--bekenbeysolicitors-white-rgb), 0.2);
}

.main-menu .main-menu__list > li > a,
.why-choose-one__item__icon,
.work-process-one__item__icon__inner,
.testimonials-card__name,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--bekenbeysolicitors-white);
}

.main-header__cart,
.main-header__search {
    color: var(--bekenbeysolicitors-text);
}

.work-process-one__item:hover .work-process-one__item__icon__inner {
    color: var(--bekenbeysolicitors-black);
}

.sec-title__tagline {
    color: var(--bekenbeysolicitors-text-dark);
}

.sec-title__tagline__border {
    background-color: var(--bekenbeysolicitors-primary);
    border-color: var(--bekenbeysolicitors-white);
}

.about-one .bekenbeysolicitors-btn > i {
    border: none;
}

    .about-one .bekenbeysolicitors-btn > i span {
        background-color: var(--bekenbeysolicitors-white);
    }

.demo-one__btns {
    background-color: rgba(0, 0, 0, 0.7);
}

.portfolio-one .bekenbeysolicitors-owl__carousel--basic-nav.owl-carousel .owl-nav button {
    color: var(--bekenbeysolicitors-white);
}

.why-choose-one .bekenbeysolicitors-btn {
    color: var(--bekenbeysolicitors-primary);
    background-color: var(--bekenbeysolicitors-white);
}

    .why-choose-one .bekenbeysolicitors-btn:hover {
        color: var(--bekenbeysolicitors-white);
    }
/*# sourceMappingURL=bekenbeysolicitors-dark.css.map */
